# 忽略前端 node_modules
frontend/epub-rosetta/node_modules/

# 忽略后端 pycache
__pycache__/

# 忽略 Docker 临时文件
*.log
*.pid
*.swp
*.epub
*.pyc
*.db

# 忽略 Python 虚拟环境
backend/venv/

# 忽略 IDE 配置文件
.vscode/
.idea/backend/epubrosetta/wordwise/test.db
